
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    line-height: inherit;
}


.global{
    background-color: var(--color-white);
    width: 16%;
    padding: 0px 15px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
    position: absolute;
    height: 100%;

}

.school-logo{
    width: 40px;
    /* margin: 5px 0px 15px 15px; */
}
.menu-text{
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 10px;
}

.nav-bar{
    margin-left: -32px;

    
}
li {
    
    margin: 20px 0px;
    padding: 0px 15px;
    
}

li:hover{
    border-left: 2px solid var(--color-blue);
}


.nav-links {
    text-decoration: none;
    color: var(--color-black-primary);
    font-size: 16px;
}

.grey{
    width:10px;
    margin-right: 8px;
  }
  .color{
      display: none;
    width:10px;
    margin-right: 8px;
  }


  .nav-links:hover .grey {
    color: #0052a8;
    display: none;
  }
  .nav-links:hover .color {
    color: #0052a8;
    display: inline-block;
    
  }

  .footer-side{
      font-size: 15px;
      margin-left: 15px;
      /* text-align: center; */
  }

  .footer-logo{
      width: 70px;
      margin-left: 5px;
  }


  /* =============header conatiner================== */

  .form-group .form-control {
    padding-left: 2.375rem;
    background-color: #FAFAFC;
    border-radius: 8px;
    border: 1px solid #FAFAFC;

}

.header-container{
    background-color: white;
    padding: 10px;
}




.form-group .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    cursor: pointer;
    color: #000000;
}



/* ============== Header Container End ================= */


  @media screen and (max-width: 904px){
    .nav-links {
        
        font-size: 9px;
    }
    li {
    
        margin: 0px 0px;
        
    }
    .global{
        width: 13%;
    }
    .menu-text{
        font-size: 12px;
        
    }
    .footer-logo{
        width: 40px;
    }
  
  }

  @media screen and (max-width: 600px){
    li h7{
        display: none;
    }
    .footer-logo{
        width: 40px;
       
    }
}