body{
    background-color: var(--color-bg);
    font-family: 'Nunito', sans-serif;
}


.form-group .form-control {
    padding-left: 2.375rem;
    background-color: #FAFAFC;
    border-radius: 8px;
    border: 1px solid #FAFAFC;

}

.header-container{
    background-color: white;
    padding: 20px;
}




.form-group .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    cursor: pointer;
    color: #000000;
}

.school-logo{
    width: 40px;
    /* margin: 5px 0px 15px 15px; */
}